body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.error404 {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10rem;
}

.error404__title {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: pulse;
  font-size: 15rem;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.error404__subtitle {
  font-size: 5rem;
}
