@media only screen and (max-width: 673px) {
  .login__container {
    background-color: transparent;
    border: none;
    box-shadow: none;
    width: 100vw;
  }

  .footer__list-container {
    flex-direction: column;
    align-items: center;
  }
}
