* {
  --dark-jungle-green: #041b15;
  --pine-green: #136f63;
  --light-sea-green: #22aaa1;
  --turquoise: #4ce0d2;
  --middle-blue-green: #74e7db;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(
    180deg,
    var(--light-sea-green) 0%,
    var(--middle-blue-green) 100%
  );
  min-height: 100vh;
}

.header {
  display: flex;
  height: 18vh;
  padding: 3rem;
  width: 100%;
}

.header__image-div {
  display: flex;
  width: 50%;
}

.image-container {
  align-items: center;
  display: flex;
  height: inherit;
}

.image-container--header-image {
  max-width: 50%;
}

.header__image {
  margin-left: 1rem;
  max-height: 100%;
}

.profile-menu {
  align-items: flex-end;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  padding-right: 1.6rem;
  padding-top: 0.8rem;
  width: 50%;
}

.profile-menu__profile-container {
  text-align: right;
}

.profile-menu__dropdown-menu {
  align-items: center;
  display: flex;
  width: 9rem;
}

.profile-menu__image {
  font-size: 4rem;
  margin-right: 0.4rem;
}

.profile-menu__link:visited {
  color: white;
}

.profile-menu__title,
.profile-menu__link {
  font-weight: bolder;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: center;
}

.main__title {
  color: white;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 3rem;
}

.main__input {
  background-color: rgba(255, 255, 255, 0.1);
  border: white solid 0.2rem;
  border-radius: 3rem;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem;
  width: 80%;
}

.main__input::placeholder {
  color: white;
  font-weight: 300;
}

.main__input:focus-visible {
  outline: none;
}

.carousel {
  overflow: auto;
  padding: 3rem;
  position: relative;
  width: 100%;
}

.carousel__title {
  color: white;
  font-size: 2rem;
}

.carousel::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3rem;
}

.carousel::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
}

.carousel__container {
  margin: 7rem 0;
  padding-bottom: 3rem;
  white-space: nowrap;
}

.carousel-item {
  border-radius: 2rem;
  cursor: pointer;
  display: inline-block;
  height: 25rem;
  margin-right: 1rem;
  overflow: hidden;
  position: relative;
  transform-origin: center left;
  transition: 400ms;
  width: 20rem;
}

.carousel-item:hover ~ .carousel-item {
  transform: translate3d(10rem, 0, 0);
}

.carousel__container:hover .carousel-item {
  opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
  transform: scale(1.5);
  opacity: 1;
}

.carousel__container:hover .carousel-item:last-child:hover {
  transform-origin: center right;
}

.carousel-item__image {
  height: 25rem;
  object-fit: cover;
  width: 20rem;
}

.carousel-item__details {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0) 100%
  );
  bottom: 0;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  justify-content: flex-end;
  left: 0;
  opacity: 0;
  transition: 450ms opacity;
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 0;
}

.carousel-item__title,
.carousel-item__description {
  color: white;
  padding-left: 0.4rem;
}

.carousel-item__title {
  font-size: 1.2rem;
}

.carousel-item__description {
  font-size: 0.8rem;
}

.carousel-item__botons {
  height: 2.6rem;
  margin-right: 0.4rem;
  width: 2.6rem;
}

.carousel-item__details:hover {
  opacity: 1;
}

.footer {
  color: white;
  padding: 5rem;
}

.footer__list-container {
  display: flex;
  justify-content: flex-start;
}

.footer__link {
  margin-right: 2rem;
  font-size: 1.8rem;
  font-weight: 900;
}

.footer__link:visited {
  color: white;
}
